
{% extends "base.html" %}
{% block content %}
<div class="alert alert-info" role="alert"><H1>SOLICITUDES DE MANTENIMIENTO</H1> </div>
<span class="label label-default">Buscar</span>
<div class="well">
  <p>REGISTRO DE SOLICITUDES DE MANTENIMIENTO EMITIDAS </p>
    <form method="POST" action="/cliente/buscar/">{% csrf_token %}
		 <div class="col-lg-6" >
		      <div class="input-group">
		        <input type="text" class="form-control" placeholder="Ingrese el cliente a buscar" name="buscalo">
		        <span class="input-group-btn">
		          <button class="btn btn-default" type="submit" >Buscar</button>
		        </span></div>
		      <!-- /input-group -->
		  </div>    	
    </form>

    <!-- /.col-lg-6 -->
    </br>
    <br/>
	<div class="table-responsive">
		<table class="table table-hover">
	        <thead>
	          <tr>
	            <td class="success">#</td>
	            <td class="success">FECHA</td>
	            <td class="success">FALLA</td>
	            <td class="success">OBERVACIONES</td>
	            <td class="success">ABONO</td>
	            <td class="success">SALDO</td>
	            <td class="success">TOTAL</td>
	            <td class="success">ESTADO</td>
	            <td class="success">ARTICULO</td>
	            <td class="success">CLIENTE</td>
	             <td class="success">------</td>
	              <td class="success">-----</td>

	           
	          </tr>
	        </thead>
	        <tbody >
	   
	         
	          <!-- Aplicadas en las celdas (<td> o <th>) -->
		          {% for solmant in  Solicitudmantenimiento %}
			          <tr>
			          	<td >{{solmant.id}}</td>
		          		<td >{{solmant.solm_fecha}}</td>
			            <td >{{solmant.solm_falla}}</td>
			            <td >{{solmant.solm_observaciones}}</td>
			            <td >{{solmant.solm_abono}}</td>
			            <td >{{solmant.solm_saldo}}</td>
			            <td >{{solmant.solm_total}}</td>
			            <td >{{solmant.solm_estado}}</td>
			            <td >{{solmant.art_id}} </td>
			            <td >{{solmant.cli_id}} </td>
			            <td ><button class='btn btn-danger' id="btnupdate{{solmant.id}}" value="{{solmant.id}}" onclick='actualizarDatos({{solmant.id}})'>UPDATE</i></button> </td>
			            <td ><button class='btn btn-danger' id="btndelete" value="{{solmant.id}}" onclick='eliminarDatos({{solmant.id}})'>DELETE</i></button></td>

			          </tr>
		          {% endfor %}
	      	</tbody>
		</table>
	</div>
   
</div>
</div>

{% endblock content %}

{% block js %}
	<script>
	function actualizarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/solicitudmantenimiento/editar/"+r+"'"+"",10);

	}
	function eliminarDatos(r){
		var s = document.getElementById('btnupdate'+r).value
		setTimeout("location.href='/solicitudmantenimiento/eliminar/"+r+"'"+"",10);

	}
	</script>

{% endblock js %}