{% extends "base.html" %}

{% block contenido %}
    <div class="container">
        <h1 style="text-align: center">Acerca De..</h1>
        <p style="text-align: justify"><strong>Empresa:</strong> Bazar & LIbreria "Israel"<br/>
            <strong>Sistema:</strong> ADIS <br/><br/>
            <strong>Representante:</strong> Miguel Oña Diaz <br/>
            <strong>Direccion:</strong> Eloy Alfaro e/ Olmedo y Guayas - Santa Rosa <br/>
            <br/><br/>
            <strong>Desarrolladores:</strong> Andrea Buele - Danilo Sanchez - Kevin Valarezo
        </p>
    </div>
{% endblock %}