{% extends "index.html" %}

{% block contenido %}
    <div class="container">
        <h1 style="text-align: center">Contacto</h1>
        <p style="text-align: justify"><strong>Empresa:</strong> Bazar & LIbreria "Israel"<br/>
            <strong>Sistema:</strong> ADIS <br/><br/>
            <strong>Representante:</strong> Miguel Oña Diaz <br/>
            <strong>Direccion:</strong> Eloy Alfaro e/ Olmedo y Guayas - Santa Rosa <br/>
            <br/><br/>
            <strong>Siguenos:</strong> <br/>
        </p>
        <i class="icon-facebook-sign text-medium"></i> <i class="icon-twitter-sign text-medium"></i>
    </div>
{% endblock %}