{% extends "base.html" %}

{% block contenido %}

  <legend>Clientes</legend>
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
        <form action="/buscarClientes/" method="POST">{% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="search" name="buscar" placeholder="Buscar" required/>
                <span class="input-group-btn"><button class="btn btn-primary" type="submit" value="Buscar"><i class="icon-search"></i></button></span>
            </div>
        </form>
        </div>


    <div class="col-md-12">
    <br>
        <div class="row">
            {% if mensaje %}
                <div class="alert alert-success" role="alert" style="width: auto"><span class="glyphicon glyphicon-ok"></span> <strong>{{mensaje}}</strong></div>
            {% endif%}
            <div class="row">
                <table id="tablaClientes" class="table table-bordered table-striped" >
                    <thead>
                        <th>Cedula</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </thead>

                    <tbody>
                        {%for cliente in lista%}
                            <tr>
                                <td>{{cliente.Cedula}}</td>
                                <td>{{cliente.Apellido}}</td>
                                <td>{{cliente.Nombre}}</td>
                                <td>{{cliente.Telefono}}</td>
                                <td>{{cliente.Direccion}}</td>
                                <td> <a href="#Formulario{{ cliente.Cedula }}" class="btn btn-primary" data-toggle="modal" title="Actualizar {{ cliente.Apellido }} {{ cliente.Nombre }}"><i class="icon-refresh"></i></a> &nbsp
                                <a href="#Formulario1{{ cliente.Cedula }}" class="btn btn-danger " data-toggle="modal" title="Eliminar {{ cliente.Nombre }} {{ cliente.Apellido }}"><i class="icon-remove"></i></a></td>
                            </tr>
                            {%empty%}
                            <tr>
                                <td colspan="6">
                                    No se encontro ningun registro
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>

  <div class="pagination">
        <ul>
                {% if lista.has_previous %}
            <li class="previous">
                <a href="?page={{ lista.previous_page_number }}" class="fui-arrow-left"></a>
            </li>
                {% endif %}
            <li class="active"><a href="#">{{ lista.number}}</a>
            </li>
                {% if lista.has_next %}
             <li class="next">
                <a href="?page={{ lista.next_page_number }}" class="fui-arrow-right"></a></li>
            </li>
                {% endif %}
        </ul>
  </div>

    </div>


{% for cliente in lista %}
    <div id="Formulario{{ cliente.Cedula }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Editar Clientes<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h5>
                </div>
                <form action="/listaClientes/" method="post" id="formulario" name="formulario"> {% csrf_token %}
            <div class="row">
                <div class="col-xs-2"></div>
                    <div class="col-xs-9">
                        <legend>Clientes</legend>
                        <div class="row-fluid">
                             <div class="col-xs-6">
                                <label for="cedula">Cedula:</label>
                                <input type="text" class="form-control" name="cedula" id="cedula" value="{{ cliente.Cedula }}" readonly>
                                <label for="apellido">Apellido:</label>
                                <input type="text" class="form-control" name="apellido" id="apellido" value="{{ cliente.Apellido }}">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" value="{{ cliente.Nombre }}">
                                <label for="direccion">Direccion:</label>
                                <input type="text" class="form-control" name="direccion" id="direccion" value="{{ cliente.Direccion }}">


                            </div>
                            <div class="col-xs-6">
                                <div class="row-fluid">
                                <label for="ciudad">Ciudad:</label>
                                <input type="text" class="form-control" name="ciudad" id="ciudad" value="{{ cliente.Ciudad }}">
                                <label for="telefono">Telefono:</label>
                                <input type="text" class="form-control" name="tlfono" id="tlfono" value="{{ cliente.Telefono }}">
                                <label for="correo">Correo Electronico:</label>
                                <input type="text" class="form-control" name="correo" id="correo" value="{{ cliente.Correo_Electronico }}">
                                <label for="sexo">Sexo:</label>
                                <input type="text" class="form-control" name="sexo" id="sexo" value="{{ cliente.Sexo }}">
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
            </div>
                 <div class="modal-footer">
                    <button class="btn btn-primary" id="guardar" type="submit" title="Guardar"><i class="icon-save text-small"></i></button>
                 </div>
                </form>
           </div>
        </div>
    </div>
    {% endfor %}

{% for cliente in lista %}
    <div id="Formulario1{{ cliente.Cedula }}" class="modal fade" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Eliminar Clientes<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></h5>
                </div>
                <form action="/eliminarCliente/" method="post">{% csrf_token %}
                    <div class="modal-body">
                        Desea eliminar a {{cliente.Nombre}}?
                        <div style="display: none"><input type="text" name="eliminarCli" value="{{cliente.Cedula}}"/></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"  class="btn btn-danger"> Si </button>
                        <button type="submit" data-dismiss="modal" class="btn btn-default"> No </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <script type="text/javascript">
        msj="{{ msj }}"
        if(msj.length>0)
            alert(msj)
    </script>
    {% endfor %}



{% endblock%}