{% extends "base.html" %}

{% block contenido %}
        <div class="row">
               <div style="text-align: center"><h4>HABILITAR ELEMENTOS</h4></div>
           </div>
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a class="btn btn-primary" href="/confClientes">Clientes</a></li>
                <li><a class="btn btn-primary" href="/confProveedores">Proveedores</a></li>
                <li><a class="btn btn-primary" href="/confProductos">Productos</a></li>
                <li><a class="btn btn-primary" href="/confUsuarios">Usuarios</a></li>
            </ul>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8">
            <br/>
        <div class="row">


                {% block contenidoPlantilla %}

                    <div style="text-align: center">Seleccione una opcion</div>

                {% endblock %}

    </div>
        </div>
    <div class="col-xs-1"></div>
        </div>


{% endblock %}