{% extends "base.html" %}

{% block contenido %}
    <h1 style="text-align: center">Tutorial</h1>
    <br/>
    <i class="icon-home text-medium"></i> nos ubica en la pagina de inicio <br/><br/>
    <i class="icon-edit text-medium"></i> nos muestra un menu de registros de clientes, usuarios, proveedores <br/><br/>
    <i class="icon-dollar text-medium" ></i> nos muestra el proceso de facturacion <br/><br/>
    <i class="icon-book text-medium"></i> nos muestra las cuentas por cobrar y por pagar registradas <br/><br/>
    <i class="icon-question text-medium"></i> muestra una pequeña guia del sistema <br/><br/>
    <i class="icon-signout text-medium"></i> nos permite cerrar la sesion <br/><br/>

{% endblock %}